:root{
    --background_presentation: url(".");
    --background_card-p: url(".");
}

.form__search{
    margin-right: 30px;
}

.img__carrusel{
    max-height: 90vh;
    object-fit: cover;
    object-position: center;
}


.background__videogame{
    background-image: linear-gradient(#09315ca4, #001d3dad), var(--background_presentation) ;

}

.background__card{
    height: 300px;
    background-image: var(--background_card-p);
    background-size: cover;
    background-position: top;
}